.header__lang-link {
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  list-style: none;
  opacity: 1;
  transition: opacity 0.5s;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
      margin-top: 14px;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 20px;
  }
}